# python files
*.pyc

# tex build files
*.aux
*.log
*.pdf
*.glo
*.idx
*.out
*.sty
*.gz*
dynamicnumber


# package specific files
*.dnlist

# other files
*~
README.rst
languages/python/dynamicnumber.egg-info
languages/python/dist
.pypirc
upload.sh
